@font-face {
	font-family: Inter;
	src: url($lib/fonts/Inter-ExtraBold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: Inter;
	src: url($lib/fonts/Inter-Regular.ttf);
	font-weight: 400;
}

body {
	--fg: black;
	--bg: white;
	margin: 0;
	font-family: Inter;
	background: var(--bg);
	color: var(--fg);
}

@media (prefers-color-scheme: dark) {
	body {
		--fg: white;
		--bg: black;
	}
}
